import(methods)
importFrom(graphics,hist)
importFrom(grDevices,grey)
importFrom(stats,runif)
importFrom(utils,head)
importFrom(curl,curl)
importFrom(DBI,dbDisconnect,dbGetQuery,dbUnloadDriver,dbDriver)
importFrom(RPostgreSQL,dbConnect,dbWriteTable)
importFrom(grid,frameGrob,gList,gTree,gpar,grid.draw,grid.layout,
           grid.newpage,packGrob,placeGrob,pointsGrob,
           popViewport,pushViewport,rectGrob,textGrob,unit,
           viewport,xaxisGrob,yaxisGrob)
import(ggplot2)
import(reshape2)
import(plyr)
import(magrittr)

export(
       getMLEs,recMLEs,
       recScript,listScripts,catScript,dropScript,
       getQuery,writeDBTable,
       startTunnel,stopTunnel,
       random.org,urandom,
       rngControl,rngSeeds,
       plotMatrix,
       scinot
       )

S3method(plotMatrix,list)
S3method(plotMatrix,data.frame)
S3method(print,aakplot)
