import(DBI,RPostgreSQL,ggplot2,plyr,reshape2,scales,methods)

export(
       getMLEs,recMLEs,
       recScript,listScripts,catScript,dropScript,
       getQuery,writeDBTable,
       startTunnel,stopTunnel,
       random.org,urandom,
       rngControl,rngSeeds,
       plotMatrix
       )

S3method(plotMatrix,list)
S3method(plotMatrix,data.frame)
S3method(print,aakplot)
